graft src
graft tests
graft ci

prune junk
prune sdk
prune .idea
exclude src/natnet/comms.py
exclude pre-commit-hook

include AUTHORS.rst
include README.rst
include LICENSE

include .coveragerc
include .cookiecutterrc
include .editorconfig
include tox.ini

exclude .travis.yml
exclude appveyor.yml


global-exclude *.py[cod] __pycache__ *.so *.dylib .cache
